<h1> <%= @group.title %> </h1>
<br>
<h3> Leaders: 
<br> <br>
<% @group.leaders.each do |user| %> 
   <li> <%= link_to user.username, user_path(user) %> </li>
<% end %> </h3>
<br><br>
<h3> Members: 
<br> <br>
<% @group.leadees.each do |user| %> 
   <li> <%= link_to user.username, user_path(user) %> </li>
<% end %> </h3>
<br><br>
