<h1> <%= @user.username %>'s Page </h1>
<h3> Followers: <%= @user.followers.count %> </h3>
<br><br>
<h3> <%= @user.username %>'s Posts </h3>
<br>
<h4> <% @user.posts.each do |post| %>
    <li> <%= link_to post.title, post_path(post) %> </li> <br>
<% end %> </h4>