body {
    background-color: black;
  }
  h1 {
      color: Green;
  }
  .title_page{
      position: absolute;
      width: 100%;
      font-size: 20px;
      text-align: center;
  }
  h3 {
      color: green;
  }